/* ===== 8BitDo Ultimate 2 – Black Matte Overlay ===== */

/* Controle base */
.controller.custom {
  position: absolute;
  width: 620px;
  height: 410px;
  background-image: url("https://raw.githubusercontent.com/Jubilas/gamepad-overlay/refs/heads/main/Gamepad-overlay/ultimate2wireless.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* Esconde camadas padrão do Gamepad Viewer */
.controller.custom .button,
.controller.custom .stick,
.controller.custom .face,
.controller.custom .bumper,
.controller.custom .trigger-button,
.controller.custom .start,
.controller.custom .back {
  opacity: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Quando pressionado */
.controller.custom .pressed {
  opacity: 1;
}

